<ion-header>
  <ion-navbar>
    <ion-title>Coords</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <button ion-button block color="primary" (click)="getCoords()">Get coords</button>
    <div>
      <ul>
        <li *ngFor="let l of location">Long: {{ l.long }}, Lat: {{ l.lat }}</li>
      </ul>
    </div>
  </div>
</ion-content>
